@import '../abstract/variables';



body{
    //box-shadow: //only shows if the resolution is stretched farther than 450px
    //0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    //0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    //0 12.5px 10px rgba(0, 0, 0, 0.06),
    //0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    //0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    //0 100px 80px rgba(0, 0, 0, 0.12);
    max-width: 450px;
    margin: 0 auto;
    .main-header{
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin: 68px 24px 24px 18px;
        #navbar{
            display: flex;
            justify-content: space-between;
            .options-icon{
                margin-top: 15px;
                font-family: $main-font;
                color: $title-color-blue;
                width: 60%;
                img{
                    height: 11;
                    width: 22;
                    float: left;
                    margin-top: 3px;
                    margin-right: 1em;
                }
            }
            .basket-btn{
                width: 48px;
                height: 48px;
                box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05), 0px 0px 1px rgba(0, 0, 0, 0.25);
                border-radius: 100px;
                transition: .12s;
                img{
                    margin-top: 12px;
                    margin-left: 12px;
                }
                &:active{
                    background-color: #f0f0f0;
                }
            }
        }
        #search-and-filter{
            display: flex;
            justify-content: space-between;
            
            .search-bar{
                width: calc(100% - 116px);
                input{
                    float: left;
                    font-family: $main-font;
                    background-image: url('../../images/magnifying-glass.png');
                    background-repeat: no-repeat;
                    background-position: left center;
                    background-position-x: 24px;
                    background-color: #f7f5f5;
                    padding: 20px;
                    padding-left: 56px;
                    border-radius: 10px; 
                    border: none;
                    font-family: $main-font;
                    font-size: 16px;
                    width: 100%;
                    transition: .12s;
                    &:focus{
                        border: none;
                        outline: none;
                    }
                    &:active{
                        background-color: #f0f0f0;
                    }
                }
            }
            .filter-btn{
                margin-left: auto;
                background-color: #f7f7fc;
                padding: 19px 8px;
                border-radius: 10px;
                transition: .12s;
                &:active{
                    background-color: #f0f0f0;
                }
            }
        }
    }
    .category-selector{
        display: flex;
        background-color: #fafafa;
        height: 40px;
        //width: 100%;
        padding: 0 20px;
        .category{
            white-space: nowrap; //prevents text from wrapping
            margin: 4px;
            padding: 8px 16px;
            font-family: $main-font;
            color: #333333;
            background-color: #ffffff;
            box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05), 0px 0px 1px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            transition: .12s;
            &:active{
                background-color: #f0f0f0;
            }
        }
        
    }
    main{   
        #itemlist{  
            display: block;
            margin-top: 36px;
            .recommended-combo{
                 
                font-family: $main-font;
                font-size: 18px;
                color: $title-color-blue;
            }
            .items{
                display: flex;
                align-items: flex-start;
                .recommended-item{
                    
                    margin-right: 23px;
                    margin-top: 22px;
                    width: 152px;
                    height: 183px;
                    box-shadow: 0px 30px 60px rgba(32, 32, 32, 0.05);
                    border-radius: 16px;
                    transition: .12s;
                    &:active{
                        background-color: #f0f0f0;
                    }
                    .dish{
                        margin-left: 36px;
                        margin-top: 22px;
                    }
                    .heart{
                        float: right;
                        margin-top: 16px;
                        margin-right: 16px;
                    }
                    .item-description{
                        margin-left: 16px;
                        margin-top: 13px;
                        .item-title{
                            font-size: 13px;
                            color: $title-color-blue;
                        }
                        .item-price{
                            display: flex;
                            justify-content: space-evenly;
                            gap: 36px;
                            div{
                                margin-top: 13px;
                                font-size: 13px;
                                color: #F08626;
                                display: flex;
                                img{
                                   width: 16px; 
                                   height: 12.8px;
                                   margin-right: 4px;
                                }
                            }
                            .plus{
                                margin-top: 8px;
                                margin-right:16px;
                            }
                        }
                    }
                }
            }  
            
            .titles{
                display: flex;
                justify-content: left;
                 
                font-family: $main-font;
                font-size: 16px;
                .hottest-title{
                    color: $title-color-blue;
                }
                .hottest-title-unselected{
                    margin-left: 24px;
                    color: #253f66;
                }
            }
            margin-left: 23px;
            .hottest-item1{
                background-color: #fffcf2;
                    margin-right: 16px;
                    margin-top: 22px;
                    width: 140px;
                    height: 150px;
                    box-shadow: 0px 30px 60px rgba(32, 32, 32, 0.05);
                    border-radius: 16px;
                    transition: .12s;
                    &:active{
                        background-color: #F1eFF6;
                    }
                    .dish{
                        margin-left: 38px;
                        margin-top: 19px;
                        
                    }
                    .heart{
                        //position: absolute;
                        float: right;
                        margin-top: 16px;
                        margin-right: 16px;
                    }
                    .item-description{
                        margin-left: 16px;
                        margin-top: 13px;
                        .item-title{
                            font-size: 13px;
                            color: $title-color-blue;
                            text-decoration: dashed;
                        }
                        .item-price{
                            display: flex;
                            justify-content: space-evenly;
                            gap: 36px;
                            div{
                                margin-top: 13px;
                                font-size: 13px;
                                color: #F08626;
                                display: flex;
                                img{
                                   width: 16px; 
                                   height: 12.8px;
                                   margin-right: 4px;
                                }
                            }
                            .plus{
                                margin-top: 8px;
                                margin-right:16px;
                            }
                        }
                    }
            }
            .hottest-item2{
                background-color: #FEF4F4;
                    margin-right: 16px;
                    margin-top: 22px;
                    width: 140px;
                    height: 150px;
                    box-shadow: 0px 30px 60px rgba(32, 32, 32, 0.05);
                    border-radius: 16px;
                    transition: .12s;
                    &:active{
                        background-color: #F1eFF6;
                    }
                    .dish{
                        margin-left: 38px;
                        margin-top: 19px;
                        
                    }
                    .heart{
                        //position: absolute;
                        float: right;
                        margin-top: 16px;
                        margin-right: 16px;
                    }
                    .item-description{
                        margin-left: 16px;
                        margin-top: 13px;
                        .item-title{
                            font-size: 13px;
                            color: $title-color-blue;
                        }
                        .item-price{
                            display: flex;
                            justify-content: space-evenly;
                            gap: 36px;
                            div{
                                margin-top: 13px;
                                font-size: 13px;
                                color: #F08626;
                                display: flex;
                                img{
                                   width: 16px; 
                                   height: 12.8px;
                                   margin-right: 4px;
                                }
                            }
                            .plus{
                                margin-top: 8px;
                                margin-right:16px;
                            }
                        }
                    }
            }
            .hottest-item3{
                background-color: #F1eFF6;
                    margin-right: 16px;
                    margin-top: 22px;
                    width: 140px;
                    height: 150px;
                    box-shadow: 0px 30px 60px rgba(32, 32, 32, 0.05);
                    border-radius: 16px;
                    transition: .12s;
                    &:active{
                        background-color: #F1eFF6;
                    }
                    .dish{
                        margin-left: 38px;
                        margin-top: 19px;
                        
                    }
                    .heart{
                        //position: absolute;
                        float: right;
                        margin-top: 16px;
                        margin-right: 16px;
                    }
                    .item-description{
                        margin-left: 16px;
                        margin-top: 13px;
                        .item-title{
                            font-size: 13px;
                            color: $title-color-blue;
                        }
                        .item-price{
                            display: flex;
                            justify-content: space-evenly;
                            gap: 36px;
                            div{
                                margin-top: 13px;
                                font-size: 13px;
                                color: #F08626;
                                display: flex;
                                img{
                                   width: 16px; 
                                   height: 12.8px;
                                   margin-right: 4px;
                                }
                            }
                            .plus{
                                margin-top: 8px;
                                margin-right:16px;
                            }
                        }
                    }
            } 
        }
    }
}