@import '../abstract/variables';

#display{
    background-color: $primary-orange;
    
    text-align: center;
    .scattered-fruit{
        padding-top: 131px;
        display: flex;
        //margin-top: 131px;
        justify-content: right;
        margin-right: 43px;
        img{
            //padding-top: 131px;
        }
    }
    .fruit-basket{
        
        box-sizing: border-box;
        img{
            width:301px;
            height: 260px;
        }
        
    }
    .shadow{
        padding-bottom: 34px;
    }
}
#menu{
    background-color: $secondary-white;
    text-align: center;
    .menu-items{
        text-align: left;
        
        padding-top: 2.5em;
        line-height: 1.5em;
        
        h1{
            margin-left: 1.5em;
            font-family: $main-font;
            font-weight: bold;
            color: $title-color-blue;
            margin-bottom: 0.5em;
        }
        p{
            margin-left: 1.5em;
            font-family: $main-font;
            color: $paragraph-blue;
        }
        input{
            display: block;
            background-color: #f7f5f5;
            padding: 20px;
            margin: 0 auto;
            border-radius: 10px; 
            border: none;
            width: 75%;
            font-family: $main-font;
            &:focus{
                border: none;
                outline: none;
            }
        }
    }
    a{    
        font-family: $main-font;
        color: $secondary-white;
        text-decoration: none;
        .confirm-button{
            background-color: $primary-orange;
            padding: 20px;
            margin: 0 auto;
            margin-top: 15%;
            border-radius: 10px;
            width: 75%;
            margin-bottom: 92px;
            
            
        }
    }
}