.loading-screen-image {
  text-align: center;
}

.loading-screen-image img {
  margin-top: 75%;
}

.title-box {
  background-color: #ffa451;
  text-align: center;
  padding: 8px;
  margin: 0 25%;
  border-radius: 18px 0 18px 0;
  -webkit-box-shadow: 0px -30px 60px rgba(32, 32, 32, 0.05);
          box-shadow: 0px -30px 60px rgba(32, 32, 32, 0.05);
}

.title-box h1 {
  font-family: "Bad Script", cursive;
  color: #FFFFFF;
  font-size: 24px;
  letter-spacing: -0.02em;
}

#display {
  display: inline-block;
  background-color: #ffa451;
  padding-top: 105%;
  width: 100%;
  text-align: center;
}

#display .scattered-fruit {
  margin-top: -75%;
  position: absolute;
  text-align: left;
  margin-left: 75%;
}

#display .scattered-fruit img {
  width: 3.5rem;
}

#display .fruit-basket {
  position: absolute;
  margin-top: -70%;
  width: 100%;
}

#display .shadow {
  width: 100%;
  margin-bottom: 10%;
}

#menu {
  background-color: #ffffff;
  padding-bottom: 5%;
  text-align: center;
}

#menu .menu-items {
  text-align: left;
  padding-top: 2.5em;
  line-height: 1.5em;
}

#menu .menu-items h1 {
  margin-left: 1.5em;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #27214d;
  margin-bottom: 0.5em;
}

#menu .menu-items p {
  margin-left: 1.5em;
  font-family: "Roboto", sans-serif;
  color: #5d577e;
}

#menu .menu-items input {
  display: block;
  background-color: #f7f5f5;
  padding: 20px;
  margin: 0 auto;
  border-radius: 10px;
  border: none;
  width: 75%;
  font-family: "Roboto", sans-serif;
}

#menu .menu-items input:focus {
  border: none;
  outline: none;
}

#menu a {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  text-decoration: none;
}

#menu a .confirm-button {
  background-color: #ffa451;
  padding: 20px;
  margin: 0 auto;
  margin-top: 15%;
  border-radius: 10px;
  width: 75%;
}

body {
  max-width: 450px;
  margin: 0 auto;
}

body .main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  margin: 68px 24px 24px 18px;
}

body .main-header #navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .main-header #navbar .options-icon {
  margin-top: 15px;
  font-family: "Roboto", sans-serif;
  color: #27214d;
  width: 60%;
}

body .main-header #navbar .options-icon img {
  height: 11;
  width: 22;
  float: left;
  margin-top: 3px;
  margin-right: 1em;
}

body .main-header #navbar .basket-btn {
  width: 48px;
  height: 48px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05), 0px 0px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05), 0px 0px 1px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  -webkit-transition: .12s;
  transition: .12s;
}

body .main-header #navbar .basket-btn img {
  margin-top: 12px;
  margin-left: 12px;
}

body .main-header #navbar .basket-btn:active {
  background-color: #f0f0f0;
}

body .main-header #search-and-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .main-header #search-and-filter .search-bar {
  width: calc(100% - 116px);
}

body .main-header #search-and-filter .search-bar input {
  float: left;
  font-family: "Roboto", sans-serif;
  background-image: url("../../images/magnifying-glass.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-position-x: 24px;
  background-color: #f7f5f5;
  padding: 20px;
  padding-left: 56px;
  border-radius: 10px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  width: 100%;
  -webkit-transition: .12s;
  transition: .12s;
}

body .main-header #search-and-filter .search-bar input:focus {
  border: none;
  outline: none;
}

body .main-header #search-and-filter .search-bar input:active {
  background-color: #f0f0f0;
}

body .main-header #search-and-filter .filter-btn {
  margin-left: auto;
  background-color: #f7f7fc;
  padding: 19px 8px;
  border-radius: 10px;
  -webkit-transition: .12s;
  transition: .12s;
}

body .main-header #search-and-filter .filter-btn:active {
  background-color: #f0f0f0;
}

body .category-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fafafa;
  height: 40px;
  padding: 0 20px;
}

body .category-selector .category {
  white-space: nowrap;
  margin: 4px;
  padding: 8px 16px;
  font-family: "Roboto", sans-serif;
  color: #333333;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05), 0px 0px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05), 0px 0px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  -webkit-transition: .12s;
  transition: .12s;
}

body .category-selector .category:active {
  background-color: #f0f0f0;
}

body main #itemlist {
  display: block;
  margin-top: 36px;
  margin-left: 23px;
}

body main #itemlist .recommended-combo {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #27214d;
}

body main #itemlist .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body main #itemlist .items .recommended-item {
  margin-right: 23px;
  margin-top: 22px;
  width: 152px;
  height: 183px;
  -webkit-box-shadow: 0px 30px 60px rgba(32, 32, 32, 0.05);
          box-shadow: 0px 30px 60px rgba(32, 32, 32, 0.05);
  border-radius: 16px;
  -webkit-transition: .12s;
  transition: .12s;
}

body main #itemlist .items .recommended-item:active {
  background-color: #f0f0f0;
}

body main #itemlist .items .recommended-item .dish {
  margin-left: 36px;
  margin-top: 22px;
}

body main #itemlist .items .recommended-item .heart {
  float: right;
  margin-top: 16px;
  margin-right: 16px;
}

body main #itemlist .items .recommended-item .item-description {
  margin-left: 16px;
  margin-top: 13px;
}

body main #itemlist .items .recommended-item .item-description .item-title {
  font-size: 13px;
  color: #27214d;
}

body main #itemlist .items .recommended-item .item-description .item-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 36px;
}

body main #itemlist .items .recommended-item .item-description .item-price div {
  margin-top: 13px;
  font-size: 13px;
  color: #F08626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main #itemlist .items .recommended-item .item-description .item-price div img {
  width: 16px;
  height: 12.8px;
  margin-right: 4px;
}

body main #itemlist .items .recommended-item .item-description .item-price .plus {
  margin-top: 8px;
  margin-right: 16px;
}

body main #itemlist .titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

body main #itemlist .titles .hottest-title {
  color: #27214d;
}

body main #itemlist .titles .hottest-title-unselected {
  margin-left: 24px;
  color: #253f66;
}

body main #itemlist a {
  text-decoration: none;
}

body main #itemlist a .hottest-item1 {
  background-color: #fffcf2;
  margin-right: 16px;
  margin-top: 22px;
  width: 140px;
  height: 150px;
  -webkit-box-shadow: 0px 30px 60px rgba(32, 32, 32, 0.05);
          box-shadow: 0px 30px 60px rgba(32, 32, 32, 0.05);
  border-radius: 16px;
  -webkit-transition: .12s;
  transition: .12s;
  margin-bottom: 29px;
}

body main #itemlist a .hottest-item1:active {
  background-color: #F1eFF6;
}

body main #itemlist a .hottest-item1 .dish {
  margin-left: 38px;
  margin-top: 19px;
}

body main #itemlist a .hottest-item1 .heart {
  float: right;
  margin-top: 16px;
  margin-right: 16px;
}

body main #itemlist a .hottest-item1 .item-description {
  margin-left: 16px;
  margin-top: 13px;
}

body main #itemlist a .hottest-item1 .item-description .item-title {
  font-size: 13px;
  color: #27214d;
}

body main #itemlist a .hottest-item1 .item-description .item-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 36px;
}

body main #itemlist a .hottest-item1 .item-description .item-price div {
  margin-top: 13px;
  font-size: 13px;
  color: #F08626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main #itemlist a .hottest-item1 .item-description .item-price div img {
  width: 16px;
  height: 12.8px;
  margin-right: 4px;
}

body main #itemlist a .hottest-item1 .item-description .item-price .plus {
  margin-top: 8px;
  margin-right: 16px;
}

body main #itemlist .hottest-item2 {
  background-color: #FEF4F4;
  margin-right: 16px;
  margin-top: 22px;
  width: 140px;
  height: 150px;
  -webkit-box-shadow: 0px 30px 60px rgba(32, 32, 32, 0.05);
          box-shadow: 0px 30px 60px rgba(32, 32, 32, 0.05);
  border-radius: 16px;
  -webkit-transition: .12s;
  transition: .12s;
}

body main #itemlist .hottest-item2:active {
  background-color: #F1eFF6;
}

body main #itemlist .hottest-item2 .dish {
  margin-left: 38px;
  margin-top: 19px;
}

body main #itemlist .hottest-item2 .heart {
  float: right;
  margin-top: 16px;
  margin-right: 16px;
}

body main #itemlist .hottest-item2 .item-description {
  margin-left: 16px;
  margin-top: 13px;
}

body main #itemlist .hottest-item2 .item-description .item-title {
  font-size: 13px;
  color: #27214d;
}

body main #itemlist .hottest-item2 .item-description .item-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 36px;
}

body main #itemlist .hottest-item2 .item-description .item-price div {
  margin-top: 13px;
  font-size: 13px;
  color: #F08626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main #itemlist .hottest-item2 .item-description .item-price div img {
  width: 16px;
  height: 12.8px;
  margin-right: 4px;
}

body main #itemlist .hottest-item2 .item-description .item-price .plus {
  margin-top: 8px;
  margin-right: 16px;
}

body main #itemlist .hottest-item3 {
  background-color: #F1eFF6;
  margin-right: 16px;
  margin-top: 22px;
  width: 140px;
  height: 150px;
  -webkit-box-shadow: 0px 30px 60px rgba(32, 32, 32, 0.05);
          box-shadow: 0px 30px 60px rgba(32, 32, 32, 0.05);
  border-radius: 16px;
  -webkit-transition: .12s;
  transition: .12s;
}

body main #itemlist .hottest-item3:active {
  background-color: #F1eFF6;
}

body main #itemlist .hottest-item3 .dish {
  margin-left: 38px;
  margin-top: 19px;
}

body main #itemlist .hottest-item3 .heart {
  float: right;
  margin-top: 16px;
  margin-right: 16px;
}

body main #itemlist .hottest-item3 .item-description {
  margin-left: 16px;
  margin-top: 13px;
}

body main #itemlist .hottest-item3 .item-description .item-title {
  font-size: 13px;
  color: #27214d;
}

body main #itemlist .hottest-item3 .item-description .item-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 36px;
}

body main #itemlist .hottest-item3 .item-description .item-price div {
  margin-top: 13px;
  font-size: 13px;
  color: #F08626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main #itemlist .hottest-item3 .item-description .item-price div img {
  width: 16px;
  height: 12.8px;
  margin-right: 4px;
}

body main #itemlist .hottest-item3 .item-description .item-price .plus {
  margin-top: 8px;
  margin-right: 16px;
}

#additem {
  display: flexbox;
  background-color: #ffa451;
  padding: 64px 24px;
  padding-bottom: 32px;
}

#additem .back-btn {
  width: 75px;
  height: 32px;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFFFFF;
  border-radius: 100px;
}

#additem .back-btn img {
  margin: 6px 4px;
  margin-left: 8px;
  width: 10px;
  height: 20px;
}

#additem .back-btn h1 {
  font-family: "Roboto", sans-serif;
  color: #27214d;
  font-size: 12px;
  margin: 8px;
  margin-top: 10px;
  margin-left: 0;
}

#additem img {
  display: block;
  height: 176px;
  width: 176px;
  margin: 0 auto;
}

main #title-and-price {
  border-radius: 20px;
  display: block;
  margin: 0 24px;
  margin-top: 40px;
  font-family: "Roboto", sans-serif;
  color: #27214d;
  font-size: 24px;
}

main #title-and-price .price-and-quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 24px;
}

main #title-and-price .price-and-quantity .quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #title-and-price .price-and-quantity .quantity h1 {
  margin: 2px 24px;
}

main #title-and-price .price-and-quantity .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #title-and-price .price-and-quantity .price h1 {
  margin-top: 2px;
}

main #title-and-price .price-and-quantity .price img {
  width: 20px;
  height: 16px;
  margin-top: 6.5px;
  margin-right: 5px;
}

main #title-and-price .line {
  border: 1px solid #F3F3F3;
  margin-top: 41px;
  width: 100%;
}

main #description {
  margin: 16px 24px;
}

main #description h1 {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #27214d;
}

main #description .combo-items {
  display: flexbox;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 8px;
  margin-bottom: 20px;
}

main #description .combo-items .combo-item {
  font-family: "Roboto", sans-serif;
  color: #403e3e;
  font-size: 12px;
  white-space: nowrap;
  float: left;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  background-color: #FAFAFA;
  border-radius: 10px;
  padding: 6px 8px;
  margin-right: 8px;
  margin-top: 8px;
}

main #description .line {
  border: 1px solid #F3F3F3;
}

main #description p {
  margin-top: 10px;
  color: #333333;
  font-size: 14px;
  line-height: 24px;
}

footer .footer-content {
  margin: 0 24px;
  margin-top: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-content div {
  background-color: #ffa451;
  border-radius: 10px;
  padding: 14px 58px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
}

footer .footer-content div a {
  color: #FFFFFF;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */